# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.jest

# Production
build
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*.local

# Prisma
prisma/*.db
prisma/migrations/*/steps.json

# IDE
.vscode
.idea
